
        <header class="header_area">
            <nav class="navbar navbar-expand-lg menu_one menu_four menu_poss">
                <div class="container">
                    <a class="navbar-brand sticky_logo" href="#"><img src="../../assets/img/logo2.png" srcset="img/logo2x-2.png 2x" alt="logo"><img src="../../assets/img/logo.png" srcset="../../assets/img/logo2x.png 2x" alt=""></a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_toggle">
                            <span class="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="hamburger-cross">
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav menu w_menu ml-auto" *ngIf="!isLogged">
                            <li class="nav-item dropdown submenu mega_menu mega_menu_two active">
                                <a class="nav-link dropdown-toggle" routerLink="/" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Home
                                </a>
                                
                            </li>
                            <li class="nav-item  submenu mega_menu mega_menu_two ">
                                <a class="nav-link dropdown-toggle" routerLink="/login" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Login
                                </a>
                                
                            </li>
                            <li class="nav-item  submenu mega_menu mega_menu_two ">
                                <a class="nav-link dropdown-toggle" routerLink="/register" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Register
                                </a>
                                
                            </li>
                          
                        </ul>

                        <ul class="navbar-nav menu w_menu ml-auto" *ngIf="isLogged">
                            <li class="nav-item dropdown submenu mega_menu mega_menu_two active">
                                <a class="nav-link dropdown-toggle" routerLink="/" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Home
                                </a>
                                
                            </li>
                            <li class="nav-item  submenu mega_menu mega_menu_two ">
                                <a class="nav-link dropdown-toggle" routerLink="/dashboard" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dashboard
                                </a>
                                
                            </li>
                           
                          
                        </ul>
                      
                    </div>
                </div>
            </nav>
        </header>