<section class="breadcrumb_area">
    <img class="breadcrumb_shap" src="../../assets/img/hero3.jpg" alt="">
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">FAQ</h1>
        </div>
    </div>
</section>

<section class="faq_area bg_color sec_pad">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12">
                <div class="tab-content faq_content" id="myTabContent">
                    <div class="tab-pane fade show active" id="purchas" role="tabpanel" aria-labelledby="purchas-tab">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            How much does it cost?<i class="ti-plus"></i><i class="ti-minus"></i>
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul style="list-style: none;">
                                            <li><strong>The Usual: </strong> $39/mo</li>
                                            <li><strong>The Popular: </strong> $59/mo</li>
                                            <li><strong>Extravagant: </strong> $79/mo</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Which TV’s does Patient Soothe work on?<i class="ti-plus"></i><i class="ti-minus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        Patient Soothe will work on any smart TV and any TV with a HDMI port.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Do I need my own tv?<i class="ti-plus"></i><i class="ti-minus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        No.  If you don’t have a smart TV you can arrange one, including installation, <a href="#" target="_blank" rel="noopener noreferrer">right here</a>  with our partner Best Buy.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingfour">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                            How does it work?<i class="ti-plus"></i><i class="ti-minus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                                    <div class="card-body">
                                        Patient Soothe uses the internet for you to signup, the HD video streams to you, and that is how we validated your account for security and ongoing licensing of Patient Soothe.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingfive">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                                            What if I don’t have a TV? <i class="ti-plus"></i><i class="ti-minus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
                                    <div class="card-body">
                                        If you don’t have a smart TV you can arrange one, including installation, <a href="#" target="_blank" rel="noopener noreferrer">right here</a>  with our partner Best Buy.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="accordion2">
                            <div class="card">
                                <div class="card-header" id="headingsix">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
                                            Do I Need an internet connection? <i class="ti-plus"></i><i class="ti-minus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion2">
                                    <div class="card-body">
                                        Yes, you need a high-speed internet wireless connection
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingseven">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                                            What minimum internet connection speed?  <i class="ti-plus"></i><i class="ti-minus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordion2">
                                    <div class="card-body">
                                        Patient Soothe can operate with a minimum isolated connection of 3mbps.  Basically, a basic home connection in the U.S. is between 15 and 30mbps, so when there are not heavy loads Patient Soothe will run uninterrupted.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingeight">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                                            Can I cancel? <i class="ti-plus"></i><i class="ti-minus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordion2">
                                    <div class="card-body">
                                        Yes, you can cancel at any time, but you won’t want to!
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingnine">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
                                            Where does Patient Soothe get the HD video?  <i class="ti-plus"></i><i class="ti-minus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapsenine" class="collapse" aria-labelledby="headingnine" data-parent="#accordion2">
                                    <div class="card-body">
                                        Patient Soothe shot the HD video from all over the world from Maui to Dubai, from Canada to Cuba.  Great care is taken in shooting to maximize therapeutic benefit to the patients/viewers.
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="heading10">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                            Can I use it on multiple TV’s? <i class="ti-plus"></i><i class="ti-minus"></i>
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion2">
                                    <div class="card-body">
                                        Yes, you can use Patient Soothe on multiple TV’s.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading11">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                            What do I do if we have technical or account problems?<i class="ti-plus"></i><i class="ti-minus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion2">
                                    <div class="card-body">
                                        You can email us at <a href="mailto:Support@PatientSoothe.com">Support@PatientSoothe.com</a>  or call our tech support at <a href="tel:917-768-4545">917-768-4545</a>  from 8 AM to 8PM Eastern Time.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading12">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
                                            Can multiple TV’s Play different fish?  <i class="ti-plus"></i><i class="ti-minus"></i>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion2">
                                    <div class="card-body">
                                        Yes.  Accounts that maintain multiple TV’s can manage multiple accounts.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</section>