<section class="breadcrumb_area code-section">
    <img class="breadcrumb_shap" src="img/breadcrumb/banner_bg.png" alt="">
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Enter Code</h1>
            <form [formGroup]="codeForm" (ngSubmit)="send()" class="login-form mt_60">
                <div class="form-group text_box" style="margin-bottom: 0;">
                    <input type="text" placeholder="Type here" formControlName="code">
                </div>
               
                <button type="submit" class="btn_three" style="margin-top: 5px;">SEND</button>
               
            </form>
                   
            </div>
    </div>
</section>


