<section class="breadcrumb_area ">
    <img class="breadcrumb_shap" src="../../assets/img/hero4.jpg" alt="">    <div class="container">
            <div class="breadcrumb_content text-center">
                <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">About us</h1>
                
                       
                </div>
        </div>
    </section>
    <section class="portfolio_area sec_pad bg_color">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        After years of clinical practice, Patient Soothe founders, Naomi Zuckerman, DDS and dental assistant Tracy Warner decided to seek a solution for waiting room patients who were anxious and fearful. This anxiety is not uncommon, and all doctors experience delays in their daily treatments from having to talk patients off the proverbial ledge. Our goal was to find a simple and cost-effective way to help keep patients calm while they await care. We all know that less anxious patients make for better relationships and procedural outcomes. 
                    </p>
                    <p>
                        Dr. Zuckerman and Mrs. Warner began extensive research to find alternative measures to relax patients due to the more stringent policies set forth by the DEA and various medical boards. Upon further examination, an abundance of scientific evidence which supports that watching specific fish in pre-determined situations can actually relax patients and raise their pain thresholds for up to 30 minutes post-viewing. This alone is beneficial and an asset to any practitioner. In addition, research shows that watching hi definition video fish were MORE effective than observing a real aquarium. 

                    </p>
                    <p>
                        Patient Soothe has enlisted Mr. Howard Lefkowitz, former television executive, Vice President of Earthlink, President of Home Shopping telemedia company, CEO of Vegas.com, and Chief Revenue Officer of Row 44. Mr. Lefkowitz is an avid scuba diver and has been in the streaming video and ecommerce space for decades. He is responsible for the first cybercast live from the White House and the television products that are deployed on the Southwest Airlines, Norwegian Air, and other airlines around the globe. 

                    </p>
                    <p>
                        Patient Soothe is proud to have created a world-class product that will help calm patients and also make clinical practices less stressful for doctors. 

                    </p>
                </div>
            </div>
           
            <br><br><br>
        </div>
    </section>
    