<section class="breadcrumb_area">
   <img class="breadcrumb_shap" src="../../assets/img/hero4.jpg" alt="">
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Login</h1>
            <p class="f_400 w_color f_size_16 l_height26"></p>
        </div>
    </div>
</section>

<section class="login_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login_info">
                    <h2 class="f_p f_700 f_size_40 t_color3 mb_20">Login</h2>
                    <form  class="login-form mt_60" [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="invalid-feedback" style="display: block; text-align: center;
      margin-bottom: 20px;" *ngIf="wrongData">User and password does not match. Try again.</div>
                        <div class="form-group text_box">
                            <label class="f_p text_c f_400">Email</label>
                            <input type="text" placeholder="Your Email" formControlName="email" class="form-control"
                            [ngClass]="{'is-invalid':loginForm.get('email').invalid && loginForm.get('email').touched}">
                            <div class="invalid-feedback text-left"
                                *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
                                Email is invalid</div>
                        </div>
                        <div class="form-group text_box">
                            <label class="f_p text_c f_400">Password</label>
                            <input type="password" placeholder="******" formControlName="password" class="form-control"
                            [ngClass]="{'is-invalid':loginForm.get('password').invalid && loginForm.get('password').touched}">
                            <div class="invalid-feedback  text-left" *ngIf="loginForm.get('password').hasError('required')">
                                Password is invalid.</div>
                        </div>
                        <div class="extra">
                            <div class="checkbox remember">
                                <label>
                                    <input type="checkbox"> Keep me Signed in
                                </label>
                            </div>
                            <!--//check-box-->
                            <div class="forgotten-password">
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>
                        <button type="submit" class="btn_three">Log in</button>
                        <div class="alter-login text-center mt_30">
                            New user? <a class="login-link" routerLink="/register">Signup</a>
                        </div>
                    </form>
                </div>
            </div>
                <!-- <div class="col-lg-4 d-flex align-items-center">
                    <div class="login_img">
                        <img src="../../assets/img/login_img.png" alt="">
                    </div>
                </div> -->
        </div>
    </div>
</section>