<section class="breadcrumb_area ">
    <img class="breadcrumb_shap" src="../../assets/img/hero4.jpg" alt="">    <div class="container">
            <div class="breadcrumb_content text-center">
                <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Terms &amp; Conditions</h1>
                
                       
                </div>
        </div>
    </section>
    <section class="portfolio_area sec_pad bg_color">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   <h4> Effective Date: April 1, 2020</h4>

<p>Please read these Terms of Service (“Terms”) carefully before using our website, www.PatientSoothe.com (the “Site”). These Terms govern your use of the Site and are a legally enforceable contract between Patient Soothe and you. If you don’t agree with these Terms, please do not use the Site.</p>

<p>We may make changes to these Terms at any time by posting them to the Site. Any changes will be effective at the time of posting. You are urged to reference the Terms and Conditions of Use each time you access this site.</p>

<p>
    By using this site, you signify that you have read and assent to these Terms and Conditions of Use.

</p>    
<p>Please be aware that patient soothe is not a medical website and this site does not provide medical advice, nor recommend or endorse any of the health care providers responding to inquiries submitted through the site. Although Patient Soothe evaluates whether any health care provider accessible through this site possesses the education, experience, or licensing requirements to provide health care required to meet your needs, the selection of a health care provider and the evaluation of the provider’s ability to fully and competently meet your needs is your decision for which you assume all responsibility.</p>

<p>The content of this site is not intended to be a substitute for professional medical advice, diagnosis, or treatment. The Content is for general informational purposes only and is not to be taken as medical advice or treatment information. While Patient Soothe strives earnestly to update the Content, any individual reliance on the Content is at your own risk.</p>

<h3>Use of Content</h3>

<p>The Content is protected by copyright under the United States and foreign laws. Patient Soothe authorizes you to view or download a single copy of Content solely for your personal use. You may make a copy of the Content solely for your personal, noncommercial use if you include the following copyright notice: “Copyright ©2020, Patient Soothe, LLC. All rights reserved” and other copyright and proprietary rights notices that are contained in the Content on any such copy. You may not modify or distribute the Content nor otherwise use or copy the Content, without the express written permission of Patient Soothe.</p>

<p>Any use of the Content not expressly permitted by these Terms and Conditions of Use is a breach of these Terms and Conditions of Use and may infringe on Patient Soothe’s or its licensors’ copyright, or trademark rights, or violate other laws. If you use any of the Content in a manner not expressly permitted, your permission to use the Content automatically terminates and you must then destroy any copies (whether in downloaded or tangible copy form) you have made of the Content.</p>




                </div>
             </div>
                            
            <br><br><br>
        </div>
</section>
    