<section class="breadcrumb_area ">
    <img class="breadcrumb_shap" src="../../assets/img/hero4.jpg" alt="">    <div class="container">
            <div class="breadcrumb_content text-center">
                <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Terms &amp; Conditions</h1>
                
                       
                </div>
        </div>
    </section>
    <section class="portfolio_area sec_pad bg_color">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   <h4> Effective Date: April 1, 2020</h4>

                    <p>
                        Please read these Terms of Service (“Terms”) carefully before using our website, www.PatientSoothe.com (the “Site”). These Terms govern your use of the Site, the Application, and the Content used.  These Terms are a legally enforceable contract between Patient Soothe and you. If you don’t agree with these Terms, please do not use the Site.

                    </p>
                    <p>
                        We may make changes to these Terms at any time by posting them to the Site. Any changes will be effective at the time of posting. You are urged to reference the Terms and Conditions of Use each time you access this site.

                    </p>
                    <p>
                        By using this site, you signify that you have read and assent to these Terms and Conditions of Use.

                    </p>
                    <p>
                        Please be aware that patient soothe is not a medical website and this site does not provide medical advice, nor recommend or endorse any of the health care provider. The content of this site is not intended to be a substitute for professional medical advice, diagnosis, or treatment. 

                    </p>

                    <h4>Use of Content</h4>
                    <p>
                        The Content is protected by copyright under the United States and foreign laws. Patient Soothe authorizes you to view or download the number of copies of the Content that you have paid for on the number of screens that you selected for the amount of time that your subscription is current and solely for that purpose. You may not modify or distribute or copy the Content nor otherwise use or copy the Content, without the express written permission of Patient Soothe.

                    </p>
                    <p>
                        Any use of the Content not expressly permitted by these Terms and Conditions of Use is a breach of these Terms and Conditions of Use and may infringe on Patient Soothe’s or its licensors’ copyright, or trademark rights, or violate other laws. If you use any of the Content in a manner not expressly permitted, your permission to use the Content automatically terminates and you must then destroy any copies (whether in downloaded or tangible copy form) you have made of the Content.

                    </p>



                </div>
             </div>
                            
            <br><br><br>
        </div>
</section>
    