<section class="breadcrumb_area">
    <img class="breadcrumb_shap" src="../../assets/img/dashboard-banner.jpg" alt="">
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Thank you for your purchase</h1>
        </div>
    </div>
</section>

<section class="pricing_area_two sec_pad">
    <div class="container custom_container p0">
        <div class="sec_title text-center">
            <p>We’ve sent the invoice in your inbox. Let’s get started the awesome things.</p>
            <a routerLink="/dashboard">Go to Dashboard <i class="arrow_right"></i></a>
        </div>
       
        
    </div>
</section>

