<section class="breadcrumb_area">
    <img class="breadcrumb_shap" src="../../assets/img/hero6.jpg" alt="">
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Scenes</h1>
        </div>
    </div>
</section>
<section class="portfolio_area sec_pad bg_color">
    <div class="container">
        <div id="portfolio_filter" class="portfolio_filter mb_50">
            <div data-filter="*" class="work_portfolio_item active">See All</div>
           
        </div>
        <div class="lightbox-gallery">
            <div *ngFor="let image of galleryImages; let i=index">
                <img [src]="image.thumb" (click)="open(i)" width="200px" />
              </div>
            </div>
       
    </div>

   
</section>

