<section class="breadcrumb_area ">
    <img class="breadcrumb_shap" src="../../assets/img/hero4.jpg" alt="">    <div class="container">
            <div class="breadcrumb_content text-center">
                <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Privacy Policy</h1>
                
                       
                </div>
        </div>
    </section>
    <section class="portfolio_area sec_pad bg_color">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p></p>
                    <h2>Your privacy is important to us</h2>
<p> in 2018 and based in Bethesda, Maryland. PatientSoothe.com is a trusted veterinary marketplace for veterinarians to list their promotions all across the country, and for animal owners to bid for their desired medical procedure. Patient Soothe's instant match algorithm pairs patients with veternarians and shares all matched information with both parties. If you have any questions or comments regarding this Privacy Policy, please contact us at: privacy@patientsoothe.com.</p>

<h3>Does patientsoothe.com Ever Make Changes to its Privacy Policy?</h3>    
<p>Patient Soothe may make changes to the Privacy Policy from time to time. Patient Soothe will notify you of any changes by sending you an email, Private Message, or posting a notice on our Web site or other Properties. In such case, you should review the new Privacy Policy carefully to make sure you understand Patient Soothe new privacy practices. If you use the Services after we provide notice of a change, you are necessarily agreeing to the changed terms.</p>

<h3>What Types of Information Does patientsoothe.com Collect From Me?</h3>
<p>Patient Soothe will collect the personal information you provide when you register as a patient or register as a new provider. This information may include your name, email address, phone number and other information that can be used to identify you. You can use some of the Services without providing any personal information but some features may not be available.</p>
<p>If you log in via a third party service like Facebook or Google, we will access the information described in the request for authorization. You should review your privacy settings with these third party services to be sure you are only sharing information you wish to share.</p>

<h3>Do Third Parties Gather My Information?</h3>
<p>Like millions of other websites, we use analytics services provided by third parties such as Google. These companies use cookies and other tracking mechanisms to gather data about how users use our Properties. This information will be transmitted to and stored by our analytics providers, who will use this information for purposes such as evaluating your use of the website, compiling reports on website activity for website operators, and providing other services relating to activity on our Properties and internet usage. These providers may also transfer this information to third parties where required to do so by law, or where such third parties process the information on their behalf.</p>

<h3>How Does Patient Soothe Use My Information?</h3>
<h4>Patient Soothe uses the information collected from users for the following purposes:</h4>
<ul>
    <li>To send matched patient's information to providers.</li>
    <li>To send Provider Information to patients.</li>
    <li>To alert you if your "Wish List" request is fulfilled.</li>
    <li>To fulfill your requests for certain Services.</li>
    <li>To send you information that you agreed to receive about veternarians who accept your bid.</li>
</ul>

<h3>Will Patient Soothe Disclose My Information to Third Parties?</h3>
<p>
    No - All The information we collect remains absolutely safe with us. We will never rent, sell, share or otherwise disclose your personal information to third parties. We might contact you from time to time regarding your experience with Patient Soothe services (like forums and announcement lists). We may also send you notifications about services you requested to get notified about.
    You may also opt out from receiving information from us at any time and ask us to remove your contact information from our database.
</p>

<h3>What About Children's Privacy?</h3>

<p>The Patient Soothe Services are only for users ages 18 and older. Accordingly, Patient Soothe will not knowingly collect any information from any person under the age of 18. In the event that we learn that we have collected personal information from a person under age 18, we will delete that information as quickly as possible. If you believe that we might have any information from or about a child under 18, please contact us at privacy@patientsoothe.com.</p>

<h3>Will Patient Soothe Give a Medical Advice?</h3>
<p>This site is a platform to match patients with providers and we do not provide any medical advice. You must always seek professional medical advice and in an emergency, always telephone the emergency services.</p>

<h3>What about Cookies?</h3>
<p>A cookie is a message that is sent to your computer from a web server and stored on your computer's hard drive. With respect to cookies: Patient Soothe uses cookies. Cookies help us save your preferences. This Privacy Policy covers the use of cookies by patientsoothe.com only and does not cover the use of cookies by any advertisers.</p>
                </div>
            </div>
           
            <br><br><br>
        </div>
    </section>
    