<section class="breadcrumb_area ">
<img class="breadcrumb_shap" src="../../assets/img/dashboard-banner.jpg" alt="">    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Customer Dashboard</h1>
            
                   
            </div>
    </div>
</section>
<section class="portfolio_area sec_pad bg_color">
    <div class="container">
        <div class="row">
         
        </div>
        <div class="row portfolio_gallery mb-50" id="work-portfolio">
            <div class="col-sm-6 portfolio_item br ux mb_50">
                <div class="portfolio_img">
                    <a href="http://lobbyvideoapi.senorcoders.com/videos/uscenes_wide_screen_marine.mp4" class="img_popup"><img class="img_rounded" src="../../assets/img/video1_placeholder.jpg" alt=""></a>
                    <div class="portfolio-description">
                        <a href="http://lobbyvideoapi.senorcoders.com/videos/uscenes_wide_screen_marine.mp4" target="_blank" class="portfolio-title">
                            <h3 class="f_500 f_size_20 f_p mt_30">Video 1</h3>
                        </a>
                        <div class="links">
                            <button class="btn btn-primary" (click)="setVideo('uscenes_wide_screen_marine.mp4')">Set video as Primary</button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <br><br><br>
    </div>
</section>
