<section class="portfolio_area sec_pad bg_color">
    <div class="container">
        <div class="row">
            <form class="form-inline">
                <label class="sr-only" for="inlineFormInputName2">Input code</label>
                <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="6 digits">
        
              
               
              
                <button type="submit" class="btn btn-primary mb-2">Send code</button>
              </form>
              <br><br><br>
        </div>
        <div class="row portfolio_gallery mb-50" id="work-portfolio">
            <div class="col-sm-6 portfolio_item br ux mb_50">
                <div class="portfolio_img">
                    <a href="../../assets/img/portfolio/2-columns/grid1.jpg" class="img_popup"><img class="img_rounded" src="../../assets/img/portfolio/2-columns/grid1.jpg" alt=""></a>
                    <div class="portfolio-description">
                        <a href="work-default.html" class="portfolio-title">
                            <h3 class="f_500 f_size_20 f_p mt_30">Apple Mobile Mockup</h3>
                        </a>
                        <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 portfolio_item fashion web mb_50">
                <div class="portfolio_img">
                    <a href="../../assets/img/portfolio/2-columns/grid2.jpg" class="img_popup"><img class="img_rounded" src="../../assets/img/portfolio/2-columns/grid2.jpg" alt=""></a>
                    <div class="portfolio-description">
                        <a href="work-default.html" class="portfolio-title">
                            <h3 class="f_500 f_size_20 f_p mt_30">Interior Design</h3>
                        </a>
                        <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 portfolio_item product br mb_50">
                <div class="portfolio_img">
                    <a href="../../assets/img/portfolio/2-columns/grid3.jpg" class="img_popup"><img class="img_rounded" src="../../assets/img/portfolio/2-columns/grid3.jpg" alt=""></a>
                    <div class="portfolio-description">
                        <a href="work-default.html" class="portfolio-title">
                            <h3 class="f_500 f_size_20 f_p mt_30">Portfolio Center Slider</h3>
                        </a>
                        <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 portfolio_item ux web mb_50">
                <div class="portfolio_img">
                    <a href="../../assets/img/portfolio/2-columns/grid4.jpg" class="img_popup"><img class="img_rounded" src="../../assets/img/portfolio/2-columns/grid4.jpg" alt=""></a>
                    <div class="portfolio-description">
                        <a href="work-default.html" class="portfolio-title">
                            <h3 class="f_500 f_size_20 f_p mt_30">Portfolio Center Slider</h3>
                        </a>
                        <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 portfolio_item br ux mb_50">
                <div class="portfolio_img">
                    <a href="../../assets/img/portfolio/2-columns/grid5.jpg" class="img_popup"><img class="img_rounded" src="../../assets/img/portfolio/2-columns/grid5.jpg" alt=""></a>
                    <div class="portfolio-description">
                        <a href="work-default.html" class="portfolio-title">
                            <h3 class="f_500 f_size_20 f_p mt_30">Portfolio Center Slider</h3>
                        </a>
                        <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 portfolio_item fashion web mb_50">
                <div class="portfolio_img">
                    <a href="../../assets/img/portfolio/2-columns/grid6.jpg" class="img_popup"><img class="img_rounded" src="../../assets/img/portfolio/2-columns/grid6.jpg" alt=""></a>
                    <div class="portfolio-description">
                        <a href="work-default.html" class="portfolio-title">
                            <h3 class="f_500 f_size_20 f_p mt_30">Portfolio Center Slider</h3>
                        </a>
                        <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 portfolio_item product br mb_50">
                <div class="portfolio_img">
                    <a href="../../assets/img/portfolio/2-columns/grid7.jpg" class="img_popup"><img class="img_rounded" src="../../assets/img/portfolio/2-columns/grid7.jpg" alt=""></a>
                    <div class="portfolio-description">
                        <a href="work-default.html" class="portfolio-title">
                            <h3 class="f_500 f_size_20 f_p mt_30">Portfolio Center Slider</h3>
                        </a>
                        <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 portfolio_item ux web mb_50">
                <div class="portfolio_img">
                    <a href="../../assets/img/portfolio/2-columns/grid8.jpg" class="img_popup"><img class="img_rounded" src="../../assets/img/portfolio/2-columns/grid8.jpg" alt=""></a>
                    <div class="portfolio-description">
                        <a href="work-default.html" class="portfolio-title">
                            <h3 class="f_500 f_size_20 f_p mt_30">Inner Smart Watch</h3>
                        </a>
                        <div class="links"><a href="#">Branding,</a><a href="#">Fashion</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
