
        <section class="pos_banner_area">
            <div class="video-area">
               
                <div class="video-container bn-1" style="width: 100%;">
                
                    <div class="filter"></div>
                        <video width="100%" height="auto" autoplay="" [muted]="true" loop="" style="background:transparent no-repeat 0 0; background-size:cover;">
                                <source src="../../assets/videos/video.ogv" type="video/ogg"> 
                        </video>
                 </div>
            </div>

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="width: 100%;">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-interval="6000">
                    <div class="container" style="z-index: 99999;">
                        <div class="pos_banner_text text-center">
                            <h6>Welcome To Patient Soothe</h6>
                            <h2>A relaxing, changeable <br />lobby aquarium.  <h5 style="color:#fff;">No food required.</h5></h2>
                            <a class="about_btn btn_hover" routerLink="/register">Get it Now</a>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-interval="6000">
                    <div class="container" style="z-index: 99999;">
                        <div class="pos_banner_text text-center">
                            <h6>Welcome To Patient Soothe</h6>
                            <h2>Video fish are more therapeutic than a real aquarium
                            </h2>
                            <h5 style="color:#fff;">National Institute of Health (NIH)</h5>
                            <a class="about_btn btn_hover" routerLink="/register">Get it Now</a>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" data-interval="6000">
                    <div class="container" style="z-index: 99999;">
                        <div class="pos_banner_text text-center">
                            <h6>Welcome To Patient Soothe</h6>
                            <h2>Patient Soothe is cheaper and needs no maintenance
                            </h2>
                            <a class="about_btn btn_hover" routerLink="/register">Get it Now</a>
                        </div>
                    </div>
                  </div>

                  <div class="carousel-item" data-interval="6000">
                    <div class="container" style="z-index: 99999;">
                        <div class="pos_banner_text text-center">
                            <h6>Welcome To Patient Soothe</h6>
                            <h2>Our high definition aquariums are filmed explicitly for this purpose
                            </h2>
                            <a class="about_btn btn_hover" routerLink="/register">Get Started</a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            
            
        </section>

        <section class="custom-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6 text-center">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure accusantium magni dignissimos enim eius magnam aliquam eaque odio cupiditate et.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="ticket_area">
            <div class="ticket_shap" style="background: url(../../assets/img/pos/shape.png)"></div>
            <div class="pattern" style="background: url(../../assets/img/pos/pattern_01.png)"></div>
            <div class="container">
                <div class="ticket_item text-center">
                    <div class="icon">
                        <img src="../../assets/img/fish-icon.png" alt="" height="25px">
                    </div>
                    <h2>Many hi-def aquarium <span>Scenes to choose from</span></h2>
                    <br>
                    <a routerLink="/scenes" class="text-center pos_btn">View Scenes</a>
                    
                </div>
                <div class="ticket_item text-center">
                    <div class="icon pink">
                        <img src="../../assets/img/fish-icon.png" alt="" height="25px">
                    </div>
                    <h2>only $39.00 per month <span>for first TV set</span></h2>
                    <br>
                    <a routerLink="/payment" class="text-center pos_btn">View Pricing</a>

                </div>
                <div class="ticket_item text-center">
                    <div class="icon yellow">
                        <img src="../../assets/img/fish-icon.png" alt="" height="25px">
                    </div>
                    <h2>Easy installation<span>Use roku or amazon fire</span></h2>
                    <br>
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#">
                                    <img src="../../assets/img/roku.png" alt="" height="30px">
                                </a>
                            </li>

                            <li class="list-inline-item">
                                <a href="#">
                                    <img src="../../assets/img/amazonfirestick.png" alt="" height="30px">
                                </a>
                            </li>
                        </ul>

                </div>
            </div>
        </section>

        <section class="hosting_service_area sec_pad">
            <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(../../assets/img/pos/pattern_02.png);"></div></div>
            <div class="container">
                <div class="hosting_title text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">
                        Soothes your patients & raises their pain threshold per <h5>the National Institute of Health</h5>
                    </h2>
                </div>
                <div class="row pos_service_info">
                    <div class="col-lg-4 col-sm-6">
                        <div class="hosting_service_item">
                            <img src="../../assets/img/download.png" alt="">
                            <a href="#"><h4 class="h_head">Takes seconds to install in your lobby and operatories
                            </h4></a>
                            <p>Patient Soothe sets up in moments, is easy to install and use, and is cost effective with no maintenance.
                            </p>
                            <br>
                            <a routerLink="/scenes" class="text-center pos_btn">View Scenes</a>

                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="hosting_service_item">
                            <img src="../../assets/img/doctor.png" alt="">
                            <a href="#"><h4 class="h_head">Patient Soothe was created for lobby’s and office of dentists and doctors
                            </h4></a>
<p>People are fecsinated and become almost hypnotizedby fish in an aquarium.  This practice is terrififc for calming patients.
    <br>
    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Read more
      </a>
  
    
</p>   

<div class="collapse" id="collapseExample">
    <div class="card-body">
        Accordind to the National Institute of Health (NIH) has clinically proven that time watching fish increases patients patience and significantly increases their pain thresholds even after viewing has ended.  According to the NIH, it is more effective with Hi-Def video and, importantly, the the right mixture and and density of the fish.  The correct video version can also lower heart rate and blood pressure (systolic and diastolic).
    </div>
  </div>

</div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="hosting_service_item">
                            <img src="../../assets/img/price.png" alt="">
                            <a href="#"><h4 class="h_head">Pricing</h4></a>
                                <ul>
                                    <li>$39/mo for 1 screen of 80” or less </li>
                                    <li>$59/mo for up to 3 screens of 80” or less</li>
                                    <li>$79/mo for up to 5 screens of 80” or less</li>
                                </ul>
                        </div>
                    </div>
                   <div class="col-lg-12 text-center">
                       <p>For more screens or larger setups including video walls please call <a href="tel:917-768-4545">917-768-4545</a>  or <a href="mailto:info@patientsoothie.com">click here</a> to send an email enquiry.
                    </p>
                   </div>
                </div>
            </div>
        </section>

        <section class="pos_developer_product_area sec_pad" dir="ltr">
            <div class="container">
                <div class="hosting_title text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Aquarium videos for your lobby <br></h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="tab_img_info">
                            <div class="tab_img active" id="tab_one">
                                <video class="img-fluid wow fadeInRight patient-video" width="100%" data-wow-delay="0.4s" height="auto" autoplay="" [muted]="true" loop="" style="background:transparent no-repeat 0 0; background-size:cover;"
                                poster="../../assets/img/fish1.jpg">
                                    <source src="https://api.patientsoothe.com/images/coral-reef-sm.ogv" type="video/ogg"> 
                            </video>
                                <!-- <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="../../assets/img/fish1.jpg" alt=""> -->
                                <div class="square"></div>
                                <div class="bg_circle"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(../../assets/img/pos/tab_pattern.png);"></div></div>
                            </div>
                            <div class="tab_img" id="tab_two">
                                <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="../../assets/img/pos/ezgif-1-997e5035cba4.png" alt="">
                                <div class="square"></div>
                                <div class="bg_circle green"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(../../assets/img/pos/tab_pattern.png);"></div></div>
                            </div>
                            <div class="tab_img" id="tab_three">
                                <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="../../assets/img/pos/pos.png" alt="">
                                <div class="square"></div>
                                <div class="bg_circle pink"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(../../assets/img/pos/tab_pattern.png);"></div></div>
                            </div>
                            <div class="tab_img" id="tab_four">
                                <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="../../assets/img/pos/b_dashboard.png" alt="">
                                <div class="square"></div>
                                <div class="bg_circle yellow"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(../../assets/img/pos/tab_pattern.png);"></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex align-items-center">
                            <div class="pos_features_content">
                                <!-- <h2>Yeni nesil bulut<br> tabanli POS</h2> -->
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head">Great for patients
                                        </h3>
                                    </div>
                                </div>
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt orange"></i>
                                    <div class="media-body">
                                        <h3 class="h_head">Easy to install and use                      </h3>
                                    </div>
                                </div>
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head">Hi-def Video made specifically for this purpose
                                        </h3>
                                    </div>
                                </div>
    
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt orange"></i>
                                    <div class="media-body">
                                        <h3 class="h_head">Maximize therapeutic benefit
    
                                        </h3>
                                    </div>
                                </div>
                            </div>
                          
                    </div>
                </div>
            </div>
        </section>



        <section class="pos_features_area sec_pad">
            <div class="container">
                <div class="row flex-row-reverse pos_item">
                    <div class="col-lg-6">
                        <div class="pos_features_img">
                            <div class="shape_img"></div>
                            <div class="shap_img">
                                <video class="img-fluid wow fadeInRight patient-video" width="100%" data-wow-delay="0.4s" height="auto" autoplay="" [muted]="true" loop="" style="background:transparent no-repeat 0 0; background-size:cover;"
                                poster="../../assets/img/grey-and-yellow-salt-fish-60090.jpg">
                                    <source src="https://api.patientsoothe.com/images/coral-sm.ogv" type="video/ogg"> 
                            </video>
                                <!-- <img src="../../assets/img/grey-and-yellow-salt-fish-60090.jpg" alt="features"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pos_features_content">
                            <!-- <h2>Yeni nesil bulut<br> tabanli POS</h2> -->
                            <div class="media h_features_item">
                                <i class="icon_lightbulb_alt"></i>
                                <div class="media-body">
                                    <h3 class="h_head">Simply choose the number of screens you need
                                    </h3>
                                </div>
                            </div>
                            <div class="media h_features_item">
                                <i class="icon_lightbulb_alt orange"></i>
                                <div class="media-body">
                                    <h3 class="h_head">Use your existing hi-def screen or install a new smart TV (Must have smart TV or HDMI port & WiFi)                                    </h3>
                                    <p>(We have deals for you on TV’s and install - <a href="#">click here</a> for info)</p>
                                </div>
                            </div>
                            <div class="media h_features_item">
                                <i class="icon_lightbulb_alt"></i>
                                <div class="media-body">
                                    <h3 class="h_head">Use your TV remote to install with some guided clicks.</h3>
                                </div>
                            </div>

                            <div class="media h_features_item">
                                <i class="icon_lightbulb_alt orange"></i>
                                <div class="media-body">
                                    <h3 class="h_head">That’s it  (we also have phone support if you need it)</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pos_item">
                    <div class="col-lg-6">
                        <div class="pos_features_img img_left">
                            <div class="shape_img yellow"></div>
                            <div class="shap_img yellow">
                                <video class="img-fluid wow fadeInRight patient-video" width="100%" data-wow-delay="0.4s" height="auto" autoplay="" [muted]="true" loop="" style="background:transparent no-repeat 0 0; background-size:cover;"
                                poster="../../assets/img/shallow-focus-photography-of-school-of-fish-2248916.jpg">
                                    <source src="https://api.patientsoothe.com/images/bottom-sm.ogv" type="video/ogg"> 
                            </video>
                                <!-- <img src="../../assets/img/shallow-focus-photography-of-school-of-fish-2248916.jpg" alt="features"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pos_features_content pl_70">
                            <!-- <h2>Isinizi buyutmeye<br> odaklanin</h2> -->
                            <div class="media h_features_item">
                                <i class="icon_check check"></i>
                                <div class="media-body">
                                    <h3 class="h_head">Installs in seconds</h3>
                                </div>
                            </div>
                            <div class="media h_features_item">
                                <i class="icon_check check  "></i>
                                <div class="media-body">
                                    <h3 class="h_head">Significantly less expensive and burdensome than an aquarium AND it performs better per the NIH</h3>
                                </div>
                            </div>
                            <div class="media h_features_item">
                                <i class="icon_check check  "></i>
                                <div class="media-body">
                                    <h3 class="h_head">Can change aquariums at will</h3>
                                </div>
                            </div>
                            <div class="media h_features_item">
                                <i class="icon_check check  "></i>
                                <div class="media-body">
                                    <h3 class="h_head">Highest quality video specifically made for this use to maximize therapeutic benefit</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pos_developer_product_area sec_pad" dir="ltr">
            <div class="container">
                <div class="hosting_title text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Therapeutic benefits of the Patient Soothe system <br></h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="tab_img_info">
                            <div class="tab_img active" id="tab_one">
                                <video class="img-fluid wow fadeInRight patient-video" width="100%" data-wow-delay="0.4s" height="auto" autoplay="" [muted]="true" loop="" style="background:transparent no-repeat 0 0; background-size:cover;"
                                poster="../../assets/img/fish1.jpg">
                                    <source src="https://api.patientsoothe.com/images/seahorse-sm.ogv" type="video/ogg"> 
                            </video>
                                <!-- <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="../../assets/img/fish1.jpg" alt=""> -->
                                <div class="square"></div>
                                <div class="bg_circle"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(../../assets/img/pos/tab_pattern.png);"></div></div>
                            </div>
                            <div class="tab_img" id="tab_two">
                                <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="../../assets/img/pos/ezgif-1-997e5035cba4.png" alt="">
                                <div class="square"></div>
                                <div class="bg_circle green"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(../../assets/img/pos/tab_pattern.png);"></div></div>
                            </div>
                            <div class="tab_img" id="tab_three">
                                <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="../../assets/img/pos/pos.png" alt="">
                                <div class="square"></div>
                                <div class="bg_circle pink"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(../../assets/img/pos/tab_pattern.png);"></div></div>
                            </div>
                            <div class="tab_img" id="tab_four">
                                <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="../../assets/img/pos/b_dashboard.png" alt="">
                                <div class="square"></div>
                                <div class="bg_circle yellow"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(../../assets/img/pos/tab_pattern.png);"></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex align-items-center">
                            <div class="pos_features_content">
                                <!-- <h2>Yeni nesil bulut<br> tabanli POS</h2> -->
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head">Increases pain threshold for up to 30 minutes post-viewing
                                        </h3>
                                    </div>
                                </div>
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt orange"></i>
                                    <div class="media-body">
                                        <h3 class="h_head">Decreases heart rate</h3>
                                    </div>
                                </div>
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt"></i>
                                    <div class="media-body">
                                        <h3 class="h_head">Decreases muscle tension
                                        </h3>
                                    </div>
                                </div>
    
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt orange"></i>
                                    <div class="media-body">
                                        <h3 class="h_head">Reduces stress and anxiety
    
                                        </h3>
                                    </div>
                                </div>
                                <div class="media h_features_item">
                                    <i class="icon_lightbulb_alt orange"></i>
                                    <div class="media-body">
                                        <h3 class="h_head">Increases feelings of relaxation
    
                                        </h3>
                                    </div>
                                </div>
                            </div>
                          
                    </div>
                </div>
            </div>
        </section>

        <section class="chat_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="chat_content">
                            <h2>Have any questions? <br>Talk to us</h2>
                            <a href="tel:917-768-4545" class="pos_btn">Call us now</a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="media chat_info">
                            <img src="../../assets/img/pos/chat.png" alt="">
                            <div class="media-body">
                                <div class="date">8<span>-</span>6<span></span>pm</div>
                                <h3>Total Support</h3>
                                <a href="#" class="pos_service_btn">Services and Support<i class="arrow_right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pos_action_area">
            <div class="container">
                <div class="pos_action_content text-center">
                    <h2>Get Started?</h2>
                    <p>Install Patient Soothe in your lobby.</p>
                    <a routerLink="/register" class="pos_btn">See Pricing</a>
                </div>
            </div>
        </section>
     
  
