
        <section class="pos_banner_area">
            <div class="video-area">
                <!-- <div class="pos_banner_item" style="background: url(../../assets/img/pos/pos_slideshow1.jpg);"></div>
                <div class="pos_banner_item" style="background: url(../../assets/img/pos/pos_slideshow2.jpg);"></div>
                <div class="pos_banner_item" style="background: url(../../assets/img/pos/pos_slideshow3.jpg);"></div> -->
                <div class="video-container bn-1" style="width: 100%;">
                
                    <div class="filter"></div>
                        <video width="100%" height="auto" autoplay="" muted="" loop="" style="background:transparent no-repeat 0 0; background-size:cover;">
                                <source src="../../assets/videos/video.mp4" type="video/mp4"> 
                        </video>
                 </div>
            </div>
            
            <div class="container" style="z-index: 99999;">
                <div class="pos_banner_text text-center">
                    <h6>Welcome To Patient Soothe</h6>
                    <h2>An enjoyable changeable lobby aquarium that <span>doesn't</span> need food. SaasLand POS.</h2>
                    <div class="action_btn d-flex align-items-center justify-content-center wow fadeInLeft" data-wow-delay="0.6s">
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="ticket_area">
            <div class="ticket_shap" style="background: url(../../assets/img/pos/shape.png)"></div>
            <div class="pattern" style="background: url(../../assets/img/pos/pattern_01.png)"></div>
            <div class="container">
                <div class="ticket_item">
                    <div class="icon">
                        <img src="../../assets/img/pos/icon1.png" alt="">
                    </div>
                    <h2>Lobby Fish <span>Already Set up</span></h2>
                    <p>More Than</p>
                </div>
                <div class="ticket_item">
                    <div class="icon pink">
                        <img src="../../assets/img/pos/icon2.png" alt="">
                    </div>
                    <h2>$35.00 <span>Per Month</span></h2>
                    <p>Price</p>
                </div>
                <div class="ticket_item">
                    <div class="icon yellow">
                        <img src="../../assets/img/pos/icon3.png" alt="">
                    </div>
                    <h2>Efficient<span>In your Store</span></h2>
                    <p>Set Up</p>
                </div>
            </div>
        </section>

        <section class="hosting_service_area sec_pad">
            <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(../../assets/img/pos/pattern_02.png);"></div></div>
            <div class="container">
                <div class="hosting_title text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Designed and built for<br>restaurants just like yours.</h2>
                </div>
                <div class="row pos_service_info">
                    <div class="col-lg-4 col-sm-6">
                        <div class="hosting_service_item">
                            <img src="../../assets/img/pos/laptop.png" alt="">
                            <a href="#"><h4 class="h_head">eCommerce</h4></a>
                            <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse.!</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="hosting_service_item">
                            <img src="../../assets/img/pos/statistics.png" alt="">
                            <a href="#"><h4 class="h_head">Analyticst</h4></a>
                            <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse.!</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="hosting_service_item">
                            <img src="../../assets/img/pos/delivery-truck.png" alt="">
                            <a href="#"><h4 class="h_head">Point of Sale</h4></a>
                            <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse.!</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="hosting_service_item">
                            <img src="../../assets/img/pos/cash-register.png" alt="">
                            <a href="#"><h4 class="h_head">Access globally</h4></a>
                            <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse.!</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="hosting_service_item">
                            <img src="../../assets/img/pos/credit-card.png" alt="">
                            <a href="#"><h4 class="h_head">Payments</h4></a>
                            <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse.!</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="hosting_service_item">
                            <img src="../../assets/img/pos/mailbox.png" alt="">
                            <a href="#"><h4 class="h_head">Accept any Tender</h4></a>
                            <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse.!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pos_developer_product_area sec_pad" dir="ltr">
            <div class="container">
                <div class="hosting_title text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">All the tools for multi-location retailers to <br>sell, manage, report and grow</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="tab_img_info">
                            <div class="tab_img active" id="tab_one">
                                <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="../../assets/img/pos/High-end-all-in-one-dual-screen.png" alt="">
                                <div class="square"></div>
                                <div class="bg_circle"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(../../assets/img/pos/tab_pattern.png);"></div></div>
                            </div>
                            <div class="tab_img" id="tab_two">
                                <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="../../assets/img/pos/ezgif-1-997e5035cba4.png" alt="">
                                <div class="square"></div>
                                <div class="bg_circle green"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(../../assets/img/pos/tab_pattern.png);"></div></div>
                            </div>
                            <div class="tab_img" id="tab_three">
                                <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="../../assets/img/pos/pos.png" alt="">
                                <div class="square"></div>
                                <div class="bg_circle pink"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(../../assets/img/pos/tab_pattern.png);"></div></div>
                            </div>
                            <div class="tab_img" id="tab_four">
                                <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="../../assets/img/pos/b_dashboard.png" alt="">
                                <div class="square"></div>
                                <div class="bg_circle yellow"></div>
                                <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                                <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                                <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(../../assets/img/pos/tab_pattern.png);"></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="developer_product_content">
                            <ul class="nav nav-tabs develor_tab mb-30" id="myTab2" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-tab="tab_one" id="ruby-tab" data-toggle="tab" href="#ruby" role="tab" aria-controls="ruby" aria-selected="true">Increase Sales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-tab="tab_two" id="curl-tab" data-toggle="tab" href="#curl" role="tab" aria-controls="curl" aria-selected="false">Report</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-tab="tab_three" data-toggle="tab" href="#resize" role="tab" aria-controls="resize" aria-selected="false">Inform Decisions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-tab="tab_four" id="doctl-tab" data-toggle="tab" href="#doctl" role="tab" aria-controls="doctl" aria-selected="false">Grow</a>
                                </li>
                            </ul>
                            <div class="tab-content developer_tab_content">
                                <div class="tab-pane fade active show" id="ruby" role="tabpanel" aria-labelledby="ruby-tab">
                                    <h4>Take control of your<br> inventory</h4>
                                    <p>I blower he nicked it you mug pukka only a quid barmy Harry young delinquent knees up amongst such a fibber, daft gosh cracking goal wind up pardon me up the duff nice one he lost his bottle are you taking the piss is David, the BBC horse play.!</p>
                                </div>
                                <div class="tab-pane fade" id="curl" role="tabpanel" aria-labelledby="curl-tab">
                                    <h4>Take control of your <br> inventory</h4>
                                    <p>I blower he nicked it you mug pukka only a quid barmy Harry young delinquent knees up amongst such a fibber, daft gosh cracking goal wind up pardon me up the duff nice one he lost his bottle are you taking the piss is David, the BBC horse play.!</p>
                                </div>
                                <div class="tab-pane fade" id="resize" role="tabpanel" aria-labelledby="resize-tab">
                                    <h4>Take control of your <br> inventory</h4>
                                    <p>I blower he nicked it you mug pukka only a quid barmy Harry young delinquent knees up amongst such a fibber, daft gosh cracking goal wind up pardon me up the duff nice one he lost his bottle are you taking the piss is David, the BBC horse play.!</p>
                                </div>
                                <div class="tab-pane fade" id="doctl" role="tabpanel" aria-labelledby="doctl-tab">
                                    <h4>Take control of your <br> inventory</h4>
                                    <p>I blower he nicked it you mug pukka only a quid barmy Harry young delinquent knees up amongst such a fibber, daft gosh cracking goal wind up pardon me up the duff nice one he lost his bottle are you taking the piss is David, the BBC horse play.!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pos_features_area sec_pad">
            <div class="container">
                <div class="row flex-row-reverse pos_item">
                    <div class="col-lg-6">
                        <div class="pos_features_img">
                            <div class="shape_img"></div>
                            <div class="shap_img">
                                <img src="../../assets/img/pos/item1.png" alt="features">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pos_features_content">
                            <h2>Yeni nesil bulut<br> tabanli POS</h2>
                            <div class="media h_features_item">
                                <i class="icon_lightbulb_alt"></i>
                                <div class="media-body">
                                    <h3 class="h_head">Benzersiz Stok ve Sube Yonetimi</h3>
                                    <p>Oxford my lady the bee's knees. Tinkety tonk old fruit daft Richard baking cakes the bee's.</p>
                                </div>
                            </div>
                            <div class="media h_features_item">
                                <i class="icon_bag_alt orange"></i>
                                <div class="media-body">
                                    <h3 class="h_head">Internet Olmadan Calisabilme</h3>
                                    <p>Tinkety tonk old fruit daft Richard baking cakes the bee's knees I brown bread crikey.!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pos_item">
                    <div class="col-lg-6">
                        <div class="pos_features_img img_left">
                            <div class="shape_img yellow"></div>
                            <div class="shap_img yellow">
                                <img src="../../assets/img/pos/item2.png" alt="features">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pos_features_content pl_70">
                            <h2>Isinizi buyutmeye<br> odaklanin</h2>
                            <div class="media h_features_item">
                                <i class="icon_key_alt red"></i>
                                <div class="media-body">
                                    <h3 class="h_head">Her yerden erisim</h3>
                                    <p>Oxford my lady the bee's knees. Tinkety tonk old fruit daft Richard baking cakes the bee's.</p>
                                </div>
                            </div>
                            <div class="media h_features_item">
                                <i class="icon_bag_alt green"></i>
                                <div class="media-body">
                                    <h3 class="h_head">icon_creditcard</h3>
                                    <p>Tinkety tonk old fruit daft Richard baking cakes the bee's knees I brown bread crikey.!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row flex-row-reverse pos_item">
                    <div class="col-lg-6">
                        <div class="pos_features_img">
                            <div class="shape_img blue"></div>
                            <div class="shap_img blue">
                                <img src="../../assets/img/pos/item3.png" alt="features">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="pos_features_content">
                            <h2>Yeni nesil bulut<br> tabanli POS</h2>
                            <div class="media h_features_item">
                                <i class="icon_check check"></i>
                                <div class="media-body">
                                    <h3 class="h_head">Donanim Yatirimi Gerekmez</h3>
                                    <p>Oxford my lady the bee's knees. Tinkety tonk old fruit daft Richard baking cakes the bee's.</p>
                                </div>
                            </div>
                            <div class="media h_features_item">
                                <i class="icon_check check"></i>
                                <div class="media-body">
                                    <h3 class="h_head">Bakim Maliyeti Yok</h3>
                                    <p>Tinkety tonk old fruit daft Richard baking cakes the bee's knees I brown bread crikey.!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pos_about_area">
            <div class="container">
                <div class="hosting_title text-center">
                    <h2 class="wow fadeInUp w_color" data-wow-delay="0.3s">The Point of Sale Platform <br>Powering the Most Successful Restaurants</h2>
                </div>
                <ul class="list-unstyled pos_about_list">
                    <li>Easy-to-use software that can<br> scale with your business</li>
                    <li>Tickety boo what a plonker blower<br> tinkety tonk old fruit</li>
                    <li>Cloud-based reports accessible<br> in real-time</li>
                    <li>Simple, flat rate payment processing<br> for all transactions</li>
                    <li>Hardwired terminals and offline<br> mode so nothing slows you down</li>
                    <li>Tableside ordering and payments,<br> with digital receipts, to grow your<br> customer list</li>
                </ul>
                <form class="row pos_subscribe" method="post" novalidate="true">
                    <div class="col-lg-5 col-md-5 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="name" name="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-4 col-sm-6">
                        <div class="form-group">
                            <input type="text" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12">
                        <div class="form-group">
                            <button class="btn btn_pos" type="submit">Get a Demo</button>
                        </div>
                    </div>
                </form>
                <img class="pos_about_img" src="../../assets/img/pos/pos_about_img.png" alt="">
            </div>
        </section>
        <section class="h_blog_area sec_pad">
            <div class="container">
                <div class="hosting_title text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Check out some of our amazing<br> resources or join us in a city near you.</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="h_blog_item pos_blog_item">
                            <img src="../../assets/img/pos/pos_blog_1.png" alt="">
                            <div class="h_blog_content">
                                <a href="#" class="post_time"><i class="icon_clock_alt"></i>March 20, 2019</a>
                                <a href="#"><h3>How To Deploy a PHP Application with Kubernetes..</h3></a>
                                <div class="post-info-bottom">
                                    <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                                    <a class="post-info-comments" href="#">
                                        <i class="icon_comment_alt" aria-hidden="true"></i>
                                        <span>3 Comments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="h_blog_item pos_blog_item">
                            <img src="../../assets/img/pos/pos_blog_2.png" alt="">
                            <div class="h_blog_content">
                                <a href="#" class="post_time"><i class="icon_clock_alt"></i>April 22, 2019</a>
                                <a href="#"><h3>How To Build a Node.js Application with Docker</h3></a>
                                <div class="post-info-bottom">
                                    <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                                    <a class="post-info-comments" href="#">
                                        <i class="icon_comment_alt" aria-hidden="true"></i>
                                        <span>02 Comments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="h_blog_item pos_blog_item">
                            <img src="../../assets/img/pos/pos_blog_3.png" alt="">
                            <div class="h_blog_content">
                                <a href="#" class="post_time"><i class="icon_clock_alt"></i>March 26, 2019</a>
                                <a href="#"><h3>Hear from our Customer Community</h3></a>
                                <div class="post-info-bottom">
                                    <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                                    <a class="post-info-comments" href="#">
                                        <i class="icon_comment_alt" aria-hidden="true"></i>
                                        <span>02 Comments</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="chat_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="chat_content">
                            <h2>Have any questions? <br>Talk to us</h2>
                            <a href="#" class="pos_btn">Book a Callback</a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="media chat_info">
                            <img src="../../assets/img/pos/chat.png" alt="">
                            <div class="media-body">
                                <div class="date">24<span>/</span>7<span>/</span>365</div>
                                <h3>Toast Customer Support</h3>
                                <a href="#" class="pos_service_btn">Services and Support<i class="arrow_right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pos_action_area">
            <div class="container">
                <div class="pos_action_content text-center">
                    <h2>Ready to start selling your digital goods?</h2>
                    <p>Create your own e-commerce store with SaasLand today.</p>
                    <a href="#" class="pos_btn">Get Started Free</a>
                </div>
            </div>
        </section>
     
  